---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";

const { title, description, date } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("fr-FR", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<header>
  <div>
    <h1 class="text-4xl font-bold">{title} - {formattedDate}</h1>
    <p class="text-xl">{description}</p>
  </div>

  <Image src={logo} alt="Logo zenika" />

  <style lang="scss">
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3em 1em 1em;

      @media (width <= 800px) {
        flex-direction: column;
        text-align: center;
        gap: 2em;
      }
    }

    img {
      width: auto;
      flex-shrink: 0;
      height: 48px;
      @media (width <= 800px) {
        height: 32px;
      }
    }
  </style>
</header>
