---
const { title, authors, category, displaySize, summary } = Astro.props;

const authorsList = authors?.length
  ? `${authors.length > 1 ? `${authors.slice(0, -1).join(", ")} & ${authors.slice(-1)}` : authors[0]}`
  : "";
---

<td
  class="p-3"
  class:list={[
    { "py-2": displaySize === 1 },
    { "py-4": displaySize === 2 },
    { "py-8": displaySize === 3 },
  ]}
>
  <h2 class="font-bold">{title}</h2>
  <div class="text-sm">
    {authorsList && <p>{authorsList}</p>}
    {category && <p>{category}</p>}
  </div>
</td>
